@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-base {
    @apply bg-light-base dark:bg-dark-base;
  }

  .bg-base-secondary {
    @apply bg-light-secondary dark:bg-dark-secondary;
  }
}

.clipped-container {
  @apply relative;
}

.clipped {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(0% at 50% 50%);
}

.clipped-container:hover .clipped {
  clip-path: circle(70.7% at 50% 50%);
}

.tech-icon:hover {
  @apply -mt-5 text-5xl;
}

.tech-icon:hover + .tech-icon {
  @apply -mt-2 text-4xl;
}

.tech-icon:has(+ .tech-icon:hover) {
  @apply -mt-2 text-4xl;
}

.custom-prose {
  @apply prose prose-neutral max-w-full text-justify dark:prose-invert prose-a:text-nondenoic-main prose-a:underline-offset-4;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
